
  body { 
    
    background-color: #000000;
    font-family: sans-serif;
  }
 
 p{
    background-color: transparent;
    color: transparent;
 }
  
  #message {
    color: rgb(214, 160, 12);
    text-align: center;
    margin-top: 39px;
   font-size: 4em;
  }
  
  #name {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    font-size: 1.5em;
    width: 300px;
  }
  
  button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
 